body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
.left-panel {
    flex: 0 0 300px;
    border-right: 1px solid #ccc;
}
.center-panel {
    flex: 1;
    border-right: 1px solid #ccc;
}
.right-panel {
    flex: 0 0 300px;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
